# Configuration du serveur MinIO
#MINIO_ENDPOINT=localhost:9030 # outside docker network
MINIO_ENDPOINT=minio:9000 # inside docker network
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_SECURE=False

# Paramètres applicatifs
DEFAULT_BUCKET=mon-bucket-data
