# Configuration MySQL
MYSQL_ROOT_PASSWORD=mysql
MYSQL_DATABASE=TYROK
MYSQL_USER=nanp
MYSQL_PASSWORD=nanp

# Configuration App (utilisée par Streamlit)
DB_HOST=mysql
DB_PORT=3306

# nom de l'application
APP_NAME="Gestion Pro Clients"