REDPANDA_BROKER=redpanda-0:9092
SCHEMA_REGISTRY_URL=http://redpanda-0:8081
TOPIC_NAME=bank_sandaga.REDPANDA.TYROK.client
CONSUMER_GROUP=quix-notifier-group
#TELEGRAM_URL=tgram://123456789:ABCDEF/987654321
# Format: gotify://hostname/token
GOTIFY_URL=gotify://gotify/A_dT4Gc-u-Mp3Ei
LIMIT_MESSAGES=4